.container {
	max-width: 800px;
	width: 95%;
	margin: 0 auto;
}

/* Quelques classes utilitaires */

.d-block {
	display: block;
}

.d-in-block {
	display: inline-block;
}

.flex {
	display: flex;
}

.f-dir-row {
	flex-direction: row;
}

.f-dir-col {
	flex-direction: column;
}

/* End utils */

/* Les classes importantes, le coeur de la page */

.tab-btn {
	display: block;
	/* Voir box-sizing ici: https://developer.mozilla.org/fr/docs/Web/CSS/box-sizing */
	box-sizing: border-box;
	min-width: 110px;
	margin-right: 1rem;
}

.tabs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.tabs nav {
	/* margin-top: 3rem; */
	/* margin-bottom: 2rem; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.tabs nav a {
	display: inline-block;
	color: white;
	cursor: pointer;
	width: 100%;
	padding: 1rem;
	text-align: center;
	background-color: brown;
	/* transition: background-color 0.8s; */
	border-radius: .15rem;
	/* align-items: center; */
}

.tabs nav a:hover {
	animation: 3s linear 0s infinite running bgcolorall;
}

.tabs nav a:active {
	background-color: green;
}

.tabs-content {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	flex: 1 1 10px;
}

.tabs-content .tab {
	position: absolute;
	top: -100rem;
	background-color: white;
	transition: display 0s, background-color 1s, transform 1.2s;
	transform: scale(0);
	width: 100%;
}

.tabs-content .tab:target {
	position: relative;
	display: flex;
	top: auto;
	background-color: white;
	padding: 1rem 1rem;
	width: 100%;
	min-height: 200px;
	max-height: 800px;
	overflow-y: scroll;
	transform: scale(1);
	/* animation: 5s linear 0s infinite running wildshady; */
	border-width: 3px;
	border-style: solid;
  	border-image:
    linear-gradient(
      to bottom,
      green,
      rgba(0, 0, 0, 0)
	) 1 100%;
}

.tabs-content .tab:hover {
	/* background-color: springgreen; */
}

/* Some Rows and Cols stuff */
.row {
	display: flex;
	flex-direction: row;
}

.col {
	display: flex;
	flex-direction: column;
	width: auto;
}

.col div {
	width: 40%;
}

/* Start Real Buttons design */

.btn {
	padding: 1rem 0.8rem;
	border: none;
	border-radius: 0.2rem;
	cursor: pointer;
	background-color: rgb(200, 200, 200);
	transition: filter 0.7s, background-color 0.8s, transform 0.1s linear;
}

.btn:hover {
	filter: drop-shadow(0 0 0.5rem rgb(0, 0, 0));
}

.btn-success {
	background-color: rgb(39, 187, 39);
}

.btn-success:hover {
	filter: drop-shadow(0 0 0.5rem rgb(39, 187, 39));
	background-color: rgb(2, 207, 2);
}

.btn-warning {
	background-color: rgb(255, 151, 31);
}

.btn-warning:hover {
	filter: drop-shadow(0 0 0.5rem rgb(187, 61, 39));
	background-color: rgb(255, 221, 29);
}

.btn:active {
	animation: infinite-spinning 2s linear 0s infinite forwards;
}

/* Some position and margins utility */
.mx-3 {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

.my-3 {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}


/* Pour mieux comprendre les animations:
 * https://css-tricks.com/snippets/css/keyframe-animation-syntax/
 */

@keyframes bgcolorall {
	from {
		background-color: red;
	}

	25% {
		background-color: yellow;
	}

	50% {
		background-color: greenyellow;
	}

	75% {
		background-color: blue;
	}

	to {
		background-color: red;
	}
}

@keyframes wilddots {
	from {
		border: 3px black dotted;
	}

	25% {
		border: 3px black double;
	}

	50% {
		border: 3px black dashed;
	}

	75% {
		border: 3px black ridge;
	}

	to {
		border: 3px black dotted;
	}
}

@keyframes wildshady {
	from {
		filter: drop-shadow(0 0 0.75rem crimson);
	}

	10% {
		filter: drop-shadow(0 0 0.75rem rgb(220, 20, 160));
	}

	20% {
		filter: drop-shadow(0 0 0.75rem rgb(180, 20, 220));
	}

	30% {
		filter: drop-shadow(0 0 0.75rem rgb(33, 20, 220));
	}

	40% {
		filter: drop-shadow(0 0 0.75rem rgb(20, 147, 220));
	}

	50% {
		filter: drop-shadow(0 0 0.75rem rgb(20, 220, 193));
	}

	60% {
		filter: drop-shadow(0 0 0.75rem rgb(20, 220, 103));
	}

	70% {
		filter: drop-shadow(0 0 0.75rem rgb(37, 220, 20));
	}

	80% {
		filter: drop-shadow(0 0 0.75rem rgb(150, 220, 20));
	}

	90% {
		filter: drop-shadow(0 0 0.75rem rgb(207, 220, 20));
	}

	to {
		filter: drop-shadow(0 0 0.75rem rgb(220, 67, 20));
	}
}

@keyframes infinite-spinning {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(360deg);
	}
}
